__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
.eggs/

.venv/
venv/
env/
.env
.env.*

*.sqlite3
db.sqlite3
/staticfiles/
/media/

*.tar
docker-data/
docker-volumes/

.DS_Store
Thumbs.db

.vscode/
.idea/
*.swp